* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body {
    margin:0;
    font-family: sans-serif;
    font-size: 10pt;
}
.menu {
    display: none;
    position: absolute;
    z-index: 999999;
    min-width: 12em;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    list-style: none;
    margin: 0;
    padding: 0px;
    box-shadow: 2px 2px 2px #888888;
}
.menu li {
    padding: 3px 10px 3px 30px;
    margin: 3px 0;
}
.menu li span {
    padding-left:3em;
    float: right;
}
.menu li:not(.disabled):not(.separator):hover {
    color: #FFFFFF;
    background-color: #328EFE;
    cursor: pointer;
}
.menu .separator {
    padding: 0;
    border-bottom: 1px solid #E0E0E0;
}
.menu .disabled {
    color: #E0E0E0;
}
.menu li>ul {
    display: none;
}
.menu li:hover > ul {
    color: #000000;
    display: block;
    left: 11.5em;
    margin: -1.5em 0 0 0;
}
text {
    stroke-width:0;
    text-anchor:middle;
    fill:#328EFE;
}
.symbol {
    stroke-width: 1;
    stroke: #000000;
    fill: #FFFFFF;
}
.symbol:hover, .selected, .touched {
    stroke: #328EFE;
    fill: #FFFFFF;
}
.selected {
    stroke-width:2;
}
#selector {
    opacity: 0.3;
    fill: #328EFE;
    stroke:0;
}
#properties, .properties {
    display: none;
    position: absolute;
    z-index: 10;
    width: 100em;
    height: 1em;
    border: 1px solid #000000;
}
html, body, #diagram {
    width: 100%;
    height: 100%;
}
#log {
    position: absolute; border: 1px solid black; top: 0; right: 0; background-color: #FFFFFF;
}